@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    scroll-padding-top: 2rem;
}
:root{
    --main-color: #5F9DF7;
    --bg-color:#fff; 
    --text-color: #000;
    --skill-bar: #F7B95F;


}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
a{
    text-decoration: none;
}
/* HEADER */
.container{
    max-width: 100%;
    margin: auto;
    width: 100%;
    column-gap: 2rem;
    align-items: center;
}

/* .navbar-contents{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

} */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 ;

}
#nav-bar.sticky{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-right: 100%;
    transition: 0.3s;
}
.nav-link{
    list-style-type: none;
    text-decoration: none;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 17vw;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--main-color);
    padding-left: 10.6vw;
}
.nav-link{
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--text-color);
    
}
.nav-link:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    transition: 0.2s all linear;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.mobile-nav{
    position: absolute;
    display: block;
    position: fixed;
    top: 11%;
    left: 100%;
    width: 60%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--main-color);
    opacity: 87%;
    padding-top: 74px;
    transition: 0.4s;
}
.mobile-nav.active{
    left: 40%;
}
.mobile-nav a{
    
    display: block;
    width: 100;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: var(--main-color);

}
.mobile-nav a:hover{
    background-color: #89b4f5;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    
}
/* ABOUT */
.about-container{
    display: flex;
    padding-top: 230px;
    align-items: center;
    justify-content: center;
}
.img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-fit: center;
    object-position: center;
    
}
.left-intro{
    margin: 50px;
}
.img{
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    border-radius: 50px;
    border-color: #5F9DF7;
    padding-bottom: 30px;
    
}
.img img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #A8A8A8;
    box-shadow: #ccc;
}
.hello{
    background-color: var(--main-color);
    size: 30px;
    padding: 10px;
    width: 40%;
    margin-bottom: 28px;
    text-align: center;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    display: block;
    
}
#hello-text{
    color: var(--bg-color);
}
h1{
    font-weight: 600;
    font-size: 40px;
}
#email{
    color: var(--text-color);
}
.bx{
    padding: 15px 15px 15px 0;
    display: flex;
    color: var(--text-color);
}
.social{
    padding: 30px;
    size: 5rem;
}

/* ABOUT_DETAILS */
.about-details{
    size: 2rem;
}
.about-details .intro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

}
.about-details .intro-container .about-image img{
    position: relative;
    width: 15rem;
    display: flex;
    align-items: right;
    margin-left: 6rem;
}
.about-image{
    width: 30rem;
    align-items: right;
    justify-content: right;
}
.about-me-section{
    size-adjust: 50%;
    width: 50%;
    margin-right: 5rem;
    size: 3rem;
    align-items: center;
    justify-content: center;
}
.about-me-section h1{
    font-size: 2.2em;
}
#download-cv{
    text-decoration: none;
    padding: 16px 35px;
    margin-top: 30px;
    background-color: var(--main-color);
    width: 216px;
    border-radius: 14px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    
}
#download-cv a{
    color: var(--bg-color);
    font-weight: 300;
}

/* EDUCATION SECTION */
.edu-container{
    width: 100%;
    padding: 35px 10%;
}
.edu-container .edu-header{
    padding: 0px 0px 20px 30px;
}
.edu-container .edu-header h1{
    font-size: 2.2em;
    display: relative;
    align-self: center;
    
}
.edu-container .edu-contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.edu-container .edu-contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.edu-container .edu-contents .box:hover{
    box-shadow: 0px 3px 10px 0px #ccc;
    border: 1px solid transparent;
}
.edu-container .edu-contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: var(--main-color);
    border: 2px solid white;

}
.box h4{
    position: relative;
    color: var(--text-color);
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    color: #444;
}

/* SKILLS SECTION */

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 3.2em;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: var(--text-color);
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--skill-bar);
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 70%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .sass{
    width: 20%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 20%;
    }
}
.skill_bar .bar .js{
    width: 60%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.skill_bar .bar .react{
    width: 45%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 45%;
    }
}
.skill_bar .bar .node{
    width: 10%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 10%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}

.skill_bar .bar .mongo{
    width: 10%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 10%;
    }
}

/* PORTFOLIO SECTION */
.portfolio_section{
    background-color: var(--main-color);
    height: 100vh;
}
.portfolio_main{
    height: 0.7em;
    display: flex;
    justify-content: center;
    
}
.portfolio-img img{
  position: relative;
  width: 40em;
  padding: 60px;
  border-radius: 100px;
  
}
#portfolio-img01{
    border-right: 200px;
}
.portfolio_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    
}
.portfolio_head h2{
    font-size: 3.2em;
    margin-bottom: -5px;
}
.portfolio_head h2 span{
    color: var(--text-color);
}
/* ALTERNATE CSS */
@media (max-width: 800px ) {
    .about-container{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 800px){
    .hamburger{
        display: block;
        cursor: pointer;
        align-items: center;
        margin: auto 2.5rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 2rem;
        flex-direction: column;
        background-color: var(--bg-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }
    .nav-link{
        margin: 16px 0;
    }

    .navbar.active{
        left: 0;
    }
}
@media (max-width: 800px) {
    .intro-container{
        display: flex;
        flex-direction: column;
    }
    .about-me-section{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 2.5rem;
        width: 70%;   
        margin-right: 3rem;
    }
    #download-cv{
        position: relative;
        left: 18vw;
    }
    .about-me-section h1{
        margin-left: 0.6rem;
    }
    #para{
        margin-left: 1.6rem;
    }
    .about-image{
        align-items: center;
        justify-content: center;
    }
    .skills_main{
        display:flex;
        flex-direction: column;
    }
    .portfolio_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portfolio-img img{
        size: 0.5em;
        width: 100vw;
        position:absolute;
        margin-top: 0px;
        padding-bottom: 60px;
        border-radius: 100px;
        
    }
    .portfolio-img{
        margin: 0px;
    
    }
    #portfolio-img01{
        size: 400px;
        padding-top:25px;
        position: absolute;
    }
    #portfolio-img02{
        padding-top: 600px;
        position: absolute;
    }
    .portfolio_section{
        padding-top: 100px;
    }
    .skills_section{
        flex-direction: column;
    }
    
}
